<div class="item" id="<%= poll.id %>" onclick="handleClick('<%= poll.id %>', '<%= poll.user_id %>');" onmouseover="hilite($('#<%= poll.id %>')[0]);" onmouseout="unhilite($('#<%= poll.id %>')[0]);">
					<div class="votes"><div id="cb_v_<%= poll.id %>" class="current-votes"><%= poll.votes_count %></div><div class="divider">/</div><div class="threshold"><%= poll.threshold %></div></div>
					<div class="checkbox">
						<div id="cb_i_<%= poll.id %>" class="novote"></div>
                                                <div id="cb_m_<%= poll.id %>" class="vote-desc"><a href="aoighe">I'd be in</a></div>
					</div>
					<div class="info">
						<div class="title"><%= poll.title %></div>
						<div class="misc-info">
							<div class="time"></div>
							<div class="author">Submitted by <strong><%= poll.user_id %></strong></div>
						</div>
						<div class="about"><%= poll.description %></div>
						
					</div>
				</div>