<div class="poll" onmouseover="hilite(this);" onmouseout="unhilite(this);">
  <div class="votes">
    <div id="cb_v_<%= poll.id %>" class="current-votes"><%= poll.votes_count %></div><div class="divider">/</div><div class="threshold"><%= poll.threshold %></div>
  </div>
  <a href="#" class="checkbox" id="checkbox-<%= poll.id %>"
    <% if current_user %>
      onclick="handleClick('<%= poll.id %>', '<%= current_user.id %>');"
    <% end %>>
    <%= esi_include "/polls/#{poll.id}/votes/#{current_user.id}" %>
  </a>
  <div class="info">
    <div class="title"><%=h poll.title %></div>
    <div class="misc-info">
      <div class="time"></div>
      <div class="author">Submitted by <strong><%= poll.user_id %></strong></div>
    </div>
    <div class="about"><%= poll.description %></div>
  </div>
</div>
