<a href="#" class="poll" id="<%= poll.id %>"
<% if current_user %>
  onclick="handleClick('<%= poll.id %>', '<%= current_user.id %>');"
  onmouseover="hilite($('#<%= poll.id %>')[0]);"
  onmouseout="unhilite($('#<%= poll.id %>')[0]);"
<% end %>>
  <div class="votes">
    <div id="cb_v_<%= poll.id %>" class="current-votes"><%= poll.votes_count %></div><div class="divider">/</div><div class="threshold"><%= poll.threshold %></div>
  </div>
  <div class="checkbox">
    <%= esi_include "/polls/#{poll.id}/votes/#{current_user.id}" %>
  </div>
  <div class="info">
    <div class="title"><%=h poll.title %></div>
    <div class="misc-info">
      <div class="time"></div>
      <div class="author">Submitted by <strong><%= poll.user_id %></strong></div>
    </div>
    <div class="about"><%= poll.description %></div>
  </div>
</a>
